.profile-tab {
	background: rgba(0,0,0,0.5);
    color: #FFF;
    float: left;
    font-family: Calibri;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    width: 19%;
}
.profile-top {
    background-color: rgba(255,255,255,0.1);
    clear: both;
    display: block;
    font-size: .9em;
    padding: 2%;
}
.profile-top .profilePic {
    float: left;
    height: 6.5em;
    padding: 0 .5em 0 0;
}
.profile-top .profileInfo {
    color: #FFF;
    display: block;
    height: 6.5em;
}
.profile-top .profileInfo .userName {
    font-family: Calibri;
    font-size: 1.5em;
}
.profile-top .profileInfo a {
    background: rgba(0,0,0,.25);
    color: #FFF;
    float: left;
    font-family: Calibri;
    font-size: 1em;
    margin: .5em 0;
    padding: 0 .3em;
    text-align: center;
    text-decoration: none;
}
.profile-top .profileInfo img {
    padding-right: .5em;
    width: 2em;
}
.photo-grid { 
	margin: 1%; 
}
.photo-grid img {
    float: left;
    margin: 1%;
    max-width: 23%;
}
.friend-action {
    color: #FFF;
    display: block;
    float: left;
    font-size: .8em;
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    width: 46%;
}
.write-post {
    background-color: rgba(0,102,153,0.8);
    clear: both;
    color: #FFF;
    display: block;
    font-family: Calibri;
    margin: 4% 3%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    width: 90%;
}